{% extends 'application/base.html' %}

{% block body %}
    <div class = 'limiter'>
        <div class = 'container-login100'>
            <div class="wrap-login100 p-t-50 p-b-90">
                <div class = "login100-form validate-form flex-sb flex-w">

                    <span class="login100-form-title p-b-51">Спасибо за заявку</span>
                    
                    <span class="login100-form-title p-b-51">
                        <a href="{% url 'application:index' %}">Вернуться к форме</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}